.profile-pic {
  display: block;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;

}

.parallax-container {
  height: 400px;
}

.technologies {
  margin-bottom: 30px;
}

footer a {
  color: black;
  text-decoration: underline;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: black;
}


@media screen and (max-width: 670px) {
  .parallax-container {
    height: 100px;
  }
}