.profile-pic {
  display: block;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;

}

.parallax-container {
  height: 200px;
}

.technologies {
  margin-bottom: 30px;
}